* {
  /* border: red solid 2px; */
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 15px 10px 10px;
  background-color: #4901ff;
  border-radius: 5px;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  color: #250081;
}

.container {
  margin: 45px 25px;
}

.nav-items {
  text-align: end;
}

.nav-item {
  margin-bottom: 15px;
}

.name-container {
  margin-top: 100px;
}

.name {
  color: white;
  font-size: 5rem;
  margin: 0px;
}

.title {
  font-size: 5rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    margin-bottom: 100px;
    width: 800px;
    gap: 40px;
}

.proj-img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border: black 1px solid;
}

.project-links {
    margin-top: 40px;
}

.github-btn {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-bottom: black 2px solid;
    margin-right: 30px;
}

.view-btn {
    text-decoration: none;
    background-color: #4901ff;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
}